a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

h1,h2,p {
  margin: 0;
}

header {
  margin-top: 3rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
.header-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.input-file {
  display: none;
}

.cofile {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.labelFile {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #c4c4c4;
 width: 2.6rem;
 height: 2.6rem;
 /* border: 1px solid red; */
}

.icon {
  height: 2rem;
}

.inputFile {
  height: 2rem;
  padding: .3rem;
  font-size: .9rem;
  background-color: #A6A6A6;
  border: none;
  color: white;
}

.btn-enviar {
  width: 14.3rem;
  height: 2rem;
  border: none;
  background-color:#00BFFE;
}

/* .artilCenter {
  border: 1px solid red;
} */

.alert {
  text-align: center;
  padding: .5rem;
  width: 80%;
  margin: 0 auto;
}

.success {
  background-color: #00BFFE;
}

.danger {
  background-color: red;
}

.reportes {
  text-align: center;
}

.title-report {
  padding: .5rem 0;
  color: #00BFFE;
}

.input {
  margin-right: 1rem;
}

.btn-r {
  background-color: #00BFFE;
  border: none;
  padding: .3rem;
}

.contenedorCard {
  max-width: 1200px;;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap; 
  /* border: 1px solid blue; */
}

.card {
  width: 45%;
  height: auto;
  padding: 1rem;
  background-color: #A6A6A6;
  border-radius: 5px;
  margin: .5rem;
}

.parrafo {
  padding: 0.5rem;
}

.parrafoSpan {
  font-weight: bold;
}